<% if(user) { %>
  <form action="/logout" method="POST">
    <%= user %>
    <input type="submit" value="Logout" style="margin:10px;">
  </form>
<% } else { %>
  <nav>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </nav>
<% } %>