<% if(user) { %>
  <form action="/logout" method="POST">
    <%= user %>
    <input type="submit" value="Logout" style="margin:10px;">
  </form>
<% } else { %>
  <table>
    <tr>
      <td><form action="/login" method="GET">
        <input type="submit" value="Login">
      </form></td>
      <td></td>
      <td><form action="/register" method="GET">
        <input type="submit" value="Register">
      </form></td>
    </tr>
  </table>
<% } %>