<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp-ShowURL</title>
  </head>
  <body>
    <header align="right">
      <% include ./partials/_header %>
    </header>
    <div style="margin:50px;">
      <h1 style="font-size:36px;">
        ShortURL: <b><%=shortUrl%></b>
      </h1>
      <form action="/urls/<%=shortUrl%>" method="POST" style="font-size:18px; width:300px;">
        <input name="newURL" type="text" value="<%=url%>">
        <input type="submit" value="Update">
      </form>
    </div>
  </body>
</html>