<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp-NewURL</title>
  </head>
  <body style="margin-left:50px; margin-right:50px;">
    <header align="right">
      <% include ./partials/_header %>
    </header>
    <form action="/urls" method="POST" style="margin:50px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px;">
      <input type="submit" value="Submit">
    </form>
    <p style="color:red;font-size:14px;"><%=errMsg%></p>
  </body>
</html>